@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body{
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  height:100%;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  min-height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../src/assets/slide_icon.svg");
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  min-height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../src/assets/slide_icon.svg");
  cursor: pointer;
  border: none;
}